<style> .nb{ font-weight:normal } </style>
<style> .nbs{ font-weight:normal; font-size:small } </style>
<script type="text/javascript">
<!--
   function toggle_visibility(id) {
      var e = document.getElementById(id);
      if(e.style.display == 'block')
         e.style.display = 'none';
      else
         e.style.display = 'block';
   }
//-->
</script>
<br>
<label for="placeholder">
<span class='nb'>Specify the parameters that will be used to contextualise the container which is created for you. See <a target="_blank" href="https://swan.web.cern.ch/content/faq">the online SWAN guide</a> for more details.</span>
</label>
<br><br>
<label for="LCG-rel">Software stack <a href="#" onclick="toggle_visibility('lcgReleaseDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="lcgReleaseDetails">
   <span class='nb'>The software stack to associate to the container. See the <a target="_blank" href="http://lcginfo.cern.ch/">LCG package info</a> page.</span>
</div>
</label>
<select name="LCG-rel">
    <option value="LCG_94" selected>94</option>
    <option value="LCG_94python3">94 Python3</option>
    <option value="LCG_94python3_nxcals">NXCals</option>
    <option value="LCG_93">93</option>
    <option value="LCG_93python3">93 Python3</option>
    <option value="LCG_92">92</option>
    <option value="LCG_92python3">92 Python3</option>
    <option value="LCG_91">91</option>
    <option value="LCG_91python3">91 Python3</option>
    <option value="LCG_90">90</option>
    <option value="LCG_90python3">90 Python3</option>
    <option value="LCG_89">89</option>
    <option value="LCG_89python3">89 Python3</option>
    <option value="LCG_88">88</option>
    <option value="LCG_88Py3">88 Python3</option>
    <option value="LCG_87">87</option>
    <option value="LCG_86">86</option>
    <option value="LCG_85swan3">85 SWAN3</option>
    <option style="border-bottom:1px solid rgba(153,153,153,.3); margin:-10px 0 4px 0" disabled="disabled"></option>
    <option value="dev3/latest">Development Bleeding Edge (might be unstable)</option>
    <option value="dev3python3/latest">Development Bleeding Edge Python3 (might be unstable)</option>
</select>
<br>
<label for="platform">Platform <a href="#" onclick="toggle_visibility('platformDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="platformDetails">
   <span class='nb'>The combination of compiler version and flags.</span>
</div>
</label>
<select name="platform">
    <option value="x86_64-centos7-gcc7-opt" selected>x86_64-centos7-gcc7-opt</option>
    <option value="x86_64-centos7-gcc62-opt">x86_64-centos7-gcc62-opt</option>
    <option value="x86_64-slc6-gcc62-opt">x86_64-slc6-gcc62-opt</option>
    <option value="x86_64-slc6-gcc49-opt">x86_64-slc6-gcc49-opt</option>
</select>
<br>
<label for="scriptenv">Environment script <a href="#" onclick="toggle_visibility('scriptenvDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="scriptenvDetails">
   <span class='nb'>User-provided bash script to define custom environment variables. The variable CERNBOX_HOME is resolved to the proper /eos/user/u/username directory.</span>
</div>
</label>
<input type="text" name="scriptenv" placeholder="e.g. $CERNBOX_HOME/MySWAN/myscript.sh">
<br>
<label for="ncores">Number of cores <a href="#" onclick="toggle_visibility('ncoresDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="ncoresDetails">
   <span class='nb'>Number of cores to associate to the container.</span>
</div>
</label>
<select name="ncores">
    <option value="2" selected>2</option>
    <option value="4">4</option>
</select>
<br>
<label for="memory">Memory <a href="#" onclick="toggle_visibility('memoryDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="memoryDetails">
   <span class='nb'>Amount of Memory allocated to the container.</span>
</div>
</label>
<select name="memory">
    <option value="8" selected>8 GB</option>
    <option value="10">10 GB</option>
</select>
<br>
<label for="spark-cluster">Spark cluster <a href="#" onclick="toggle_visibility('sparkClusterDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="sparkClusterDetails">
   <span class='nb'>Name of the Spark cluster where to offload computations.</span>
</div>
</label>
<select name="spark-cluster">
    <option value="none" selected>None</option>
    <option value="hadalytic">Hadalytic</option>
    <option value="analytix">Analytix</option>
    <option value="nxcals">NXCals</option>
    <option value="hadoop-qa">Hadoop QA</option>
</select>
