tcp-address: "<%= @auth_backend_server %>"
ldap-hostname: cerndc.cern.ch
ldap-port: 636
ldap-bind-username: '%TEIGI__ldapbinddnuser-prod__%'
ldap-bind-password: '%TEIGI__ldapbinddnpassword-prod__%'
ldap-base-dn: "OU=Users,OU=Organic Units,DC=cern,DC=ch"
ldap-base-filter: "(&(objectClass=user)(samaccountname=%s))"
http-log: /var/log/cboxauthd/cboxauthd_http.log
app-log: /var/log/cboxauthd/cboxauthd_app.log
log-level: "debug"
salt: '%TEIGI__cboxauthdsalt-prod__%'
admin-secret: "%TEIGI__cboxauthdadminsecret-prod__%"
