#-------------------------------------------------------------------------------
# Copyright (c) 2012-2013 by European Organization for Nuclear Research (CERN)
#
# File: nginx.eos.conf
# Author: Justin Salmon <jsalmon@cern.ch>
#-------------------------------------------------------------------------------
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with This program.  If not, see <http:#www.gnu.org/licenses/>.
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# The EOS nginx service uses two virtual hosts with different authentication
# schemes to allow flexible authenticated access.
#
# The first vhost uses SSL with (optional) client certificate verification. If
# the client provides no certificate (or an invalid one) then limited access
# will still be granted (as user "nobody") and the traffic will still be 
# encrypted via SSL. The default port for this is 443 (in /etc/sysconfig/nginx)
# 
# The second vhost runs Kerberos authentication over SSL. It does not ask for
# or attempt to verify a client SSL certificate. The Kerberos credentials
# must be supplied, otherwise access will be denied (the gateway will return a
# 401 Authorization Required code). The default port for this is 8443.
#-------------------------------------------------------------------------------


user              daemon;
worker_processes  32;
error_log         /var/log/nginx/error.log error;

pid               /var/run/nginx.pid;

env OPENSSL_ALLOW_PROXY_CERTS;

events {
    worker_connections  1024;
}


http {

    log_format    main '$remote_addr - $remote_user [$time_local] "$request" '
                       '$status $body_bytes_sent "$http_referer" '
                       '"$http_user_agent" "$http_x_forwarded_for" $request_time';
    access_log         /var/log/nginx/access.log 
                       main;

    sendfile               on;
    keepalive_timeout      65;
    client_max_body_size   20000m;
    tcp_nopush            on;
    #gzip                  on;
    #keepalive_timeout     0;
    

    # Load config files from the /etc/nginx/conf.d directory
    # The default server is in conf.d/default.conf
    # include /etc/nginx/conf.d/*.conf;

    # set maximum file size for upload/download 
    proxy_max_temp_file_size 8000m;


    # Virtual host 1: SSL with client certificate authentication
    server {
        server_name  '<%= @eos_nginx_hostname %>';
        listen       4443;
	listen       443;

        ssl                    on;
        ssl_protocols          TLSv1 TLSv1.1 TLSv1.2;
        ssl_certificate        /etc/grid-security/hostcert.pem;
        ssl_certificate_key    /etc/grid-security/hostkey.pem;
        ssl_client_certificate /etc/grid-security/certificates/nginx-bundle.pem;
        ssl_verify_client      off;
        ssl_verify_depth       10;
        ssl_ciphers            ALL:!kEDH!ADH:RC4+RSA:+HIGH:+EXP;        
        ssl_session_cache      shared:SSL:10m;
        ssl_session_timeout    10m;


        access_log /var/log/nginx/maintenance.access.log main;

        error_log  /var/log/nginx/maintenance.error.log  error; #debug; 

	error_page 503 /maintenance/index.html;

	location /maintenance/ {
        	 # allow access to this specific page
    		 }

        location cernbox-grey.png {} 

    	location / {
        	 return 503;
	}
}

    server {
       server_name    '<%= @eos_nginx_hostname %>';
       listen         80;

       error_log  /var/log/nginx/http.error.log  debug; 

       error_page 503 /maintenance/index.html;

       	location /maintenance/ {
       	 	 # allow access to this specific page
    		 	 }
    	location / {
        	 return 503;
	}
}
}
