
user              daemon;
worker_processes  16;
error_log         /var/log/nginx/blender/error.log error;

pid               /var/run/nginx-blender.pid;

events {
    worker_connections  1024;
}

http {

     upstream eosuser_mgm_backend {
         ip_hash;
	 server <%= @eosuser_mgm_backend_server%>;
         keepalive 128;
	 }

    default_type  application/octet-stream;

    log_format    main '$remote_addr - $remote_user [$time_local] "$request" '
                       '$status $body_bytes_sent "$http_referer" '
                       '"$http_user_agent" "$http_x_forwarded_for" $request_time';
    access_log         /var/log/nginx/blender/access.log 
                       main;

    sendfile               on;
    keepalive_timeout      65;
    client_max_body_size   20000m;
    #tcp_nopush            on;
    #gzip                  on;
    #keepalive_timeout     0;
    
    server {
        server_name <%= @blender_hostname%>;
	listen       <%= @blender_port%>;

	# ACCESS TO DOC WEB AREA
	# all requests mapped as a special user wwweos (which should have read access set on the /eos/project/cernbox/web/doc tree)

	# the three locations below may be simplified into one when EOS HTTP Server would support transparent mapping to index.html on directory GETs
 	# currently the purpose of these locations is to try to map to index.html from nginx
	location = /cernbox/doc {

         proxy_http_version 1.1;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                       proxy_pass_request_body off;
         proxy_set_header   Remote-User wwweos;
         proxy_set_header   Host        EOS_NGINX_HOSTNAME;

	 proxy_pass http://eosuser_mgm_backend/eos/project/cernbox/web/doc/index.html;
	}

	location ~ /cernbox/doc/(.*)/$ {
	 set $path $1;
         proxy_http_version 1.1;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                       proxy_pass_request_body off;
         proxy_set_header   Remote-User wwweos;
         proxy_set_header   Host        EOS_NGINX_HOSTNAME;

         proxy_pass http://eosuser_mgm_backend/eos/project/cernbox/web/doc/$path/index.html;
	}

	location ~ ^/cernbox/doc/(.+) {

	 set $path $1;
         proxy_http_version 1.1;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                       proxy_pass_request_body off;
         proxy_set_header   Remote-User wwweos;
         proxy_set_header   Host        EOS_NGINX_HOSTNAME;

        proxy_pass http://eosuser_mgm_backend/eos/project/cernbox/web/doc/$path;
	}


        # Proxy download 
        location ~* ^/internal_redirect/(.*):(.*?)/(.*) {

            # Do not allow people to mess with this location directly
            # Only internal redirects are allowed
            internal;
            
            # Necessary when using variable proxy_pass directive
            #resolver 137.138.16.5 137.138.17.5;
            resolver 127.0.0.1; # use local caching daemon
            resolver_timeout 3600s;

            # Location-specific logging
            access_log /var/log/nginx/blender/internal_redirect.access.log main;
            error_log  /var/log/nginx/blender/internal_redirect.error.log  error; #debug;

            # Extract download url from the request
            set $download_host $1;
            set $download_port $2;
            set $download_uri  $3;

            # Compose download url
            set $download_url http://$download_host:$download_port/$download_uri?$args;

            # Set download request headers
            proxy_set_header Host          $download_host:$download_port;
            proxy_set_header Authorization '';

            # The next two lines could be used if your storage 
            # backend does not support Content-Disposition 
            # headers used to specify file name browsers use 
            # when save content to the disk
            # proxy_hide_header Content-Disposition;
            # add_header Content-Disposition 'attachment; filename="$args"';

            # Do not touch local disks when proxying 
            # content to clients
            proxy_max_temp_file_size 8000m;

            # Otherwise, download the file directly from the backend and stream
            # it to the client.
            proxy_pass $download_url;

	    # strip-off any content header from EOS HTTP responses, so that the browser may show index.html pages correctly
	    header_filter_by_lua '
            	    ngx.header["Content-Type"] = nil;
		            ';

        }
#
#	

        #####
 	# expicit location used to work-around the URI normalization problem of proxy_pass directive (e.g. automatic trabslation "%20" -> " " which makes the web upload fail [James problem])
	 #NOTE: this workaround is activated by: /internal_owncloud_nouridecode
        location ~ ^/remote.php/dav/files/(.*) {
          add_header X-Accel-Redirect /internal_owncloud_nouridecode/root/remote.php/dav/files/$1$is_args$args;
          return 301;
        }

        location ~ ^/remote.php/webdav/(.*) {
          add_header X-Accel-Redirect /internal_owncloud_nouridecode/root/remote.php/webdav/$1$is_args$args;
          return 301;
        }

        location ~ ^/public.php/webdav/(.*) {
          add_header X-Accel-Redirect /internal_owncloud_nouridecode/root/public.php/webdav/$1$is_args$args;
          return 301;
        }
        ########


        location ~ ^/cernbox/blender/owncloud/(.*) {
          add_header X-Accel-Redirect /internal_owncloud/root/$1$is_args$args;
          return 301;
         }

        location ~ ^/cernbox/blender/ocs/(.*) {
	  add_header X-Accel-Redirect /internal_owncloud/cernbox/ocs/$1$is_args$args;
	  return 301;
         }


        location = /cernbox/blender/status.php {

	 # see comment below on 8.0.2 version
         return 200 '{"installed":"true","version":"8.0.2","versionstring":"8.0.2","edition":"cernbox"}';
         add_header Content-Type plain/text;

         }

	# location /cernbox/desktop/ocs/v1.php/cloud/capabilities {

	location /cernbox/blender/capabilities
	{
	# FIXME: assume JSON format: .../capabilities?format=json

	content_by_lua '
	ngx.status = 200
	ngx.header.content_type = "application/json; charset=utf-8"
	ngx.print(ngx.var.ocs_capabilities_body)
	return
';

	# IMPORTANT: before changing the version, review the client impact!
	# see /b/prod/HOWTO/HOWTO.ServerVersionCapabilities

	# we report 8.0.2 because this is the last version that makes the client to disable parallel chunked uploads
        # we currently have strict ordering check for chunks in EOS and as such it fails with 503 error and "order violation" in MGM xrdlog
	# ./src/libsync/propagateupload.cpp
	#        if (versionNum < 0x080003) {
        #    // Disable parallel chunk upload severs older than 8.0.3 to avoid too many
        #    // internal sever errors (#2743, #2938)

	set $ocs_capabilities_body '{"ocs":{"meta":{"status":"ok","statuscode":100,"message":null},"data":{"version":{"major":8,"minor":0,"micro":2,"string":"8.0.2","edition":"cernbox"},"capabilities":{"core":{"pollinterval":60},"checksums":{"supportedTypes":["Adler32"],"preferredUploadType":"Adler32"},"files_sharing":{"api_enabled":true,"restrict_individual_file_sharing":true,"public":{"enabled":true,"password":{"enforced":false},"expire_date":{"enabled":true,"days":"365","enforced":true},"send_mail":false,"upload":true},"user":{"send_mail":false},"resharing":false,"federation":{"outgoing":false,"incoming":false}} ,"files":{"bigfilechunking":true,"undelete":true,"versioning":true}}}}}';

### 	set $ocs_capabilities_body '
### {
###     "ocs": {
###         "data": {
###             "capabilities": {
###                 "files_sharing": {
###                     "api_enabled": true, 
###                     "public": {
### 		      "upload" : true,
### 		      "password" : { "enforced" : false },
### 		      "expire_date" : { "enforced" : true, "days" : 365 }
### 		      },
### 		    "resharing" : false
###         	    }
### 		}, 
###             "meta": {
###             	"message": null, 
###             	"status": "ok", 
###                 "statuscode": 100
###                 }
###          }
###      }
### }
### ';
	}

# reported by owncloud web server
# {"ocs":{"meta":{"status":"ok","statuscode":100,"message":null},"data":{"version":{"major":8,"minor":2,"micro":2,"string":"8.2.2","edition":""},"capabilities":{"core":{"pollinterval":60},"files_sharing":{"api_enabled":true,"public":{"enabled":true,"password":{"enforced":false},"expire_date":{"enabled":true,"days":"365","enforced":true},"send_mail":false,"upload":true},"user":{"send_mail":false},"resharing":false,"federation":{"outgoing":false,"incoming":false}},"files":{"bigfilechunking":true,"undelete":true,"versioning":true}}}}}


	# TOP-LEVEL PROPFIND NAMESPACE BINDING VARIOUS EOS INSTANCES TOGETHER FOR FOLDER NAVIGATION FROM SYNC CLIENT

	location /cernbox/desktop/blender/propfind:root {

	content_by_lua '
	   ngx.status = 207
	   ngx.header.content_type = "application/xml; charset=utf-8";
	   ngx.print(ngx.var.root_propfind_body)
	   return
';

	# add /shared here later if needed
	set $root_propfind_body '<?xml version="1.0" encoding="utf-8"?>
<d:multistatus xmlns:d="DAV:">

<d:response><d:href>/cernbox/desktop/remote.php/webdav/home/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>
<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

</d:multistatus>


';

	}

	location /cernbox/desktop/blender/propfind:eos {

	content_by_lua '
	   ngx.status = 207
	   ngx.header.content_type = "application/xml; charset=utf-8";
	   ngx.print(ngx.var.eos_propfind_body)
	   return
';

	set $eos_propfind_body '<?xml version="1.0" encoding="utf-8"?>
<d:multistatus xmlns:d="DAV:">

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/user/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/project/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/media/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/public/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/atlas/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/cms/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/lhcb/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/alice/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/engineering/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/experiment/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/theory/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

<d:response><d:href>/cernbox/desktop/remote.php/webdav/eos/scratch/</d:href>
<d:propstat><d:status>HTTP/1.1 200 OK</d:status><d:prop><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat><d:propstat><d:status>HTTP/1.1 404 Not Found</d:status><d:prop/></d:propstat></d:response>

</d:multistatus>
';
		
}
}
}
