# Safety mechanism, always backup current config file
if [ -f /etc/nginx/nginx.eos.conf ]; then
/usr/bin/install -C --backup=numbered /etc/nginx/nginx.eos.conf /etc/nginx/nginx.eos.conf.BACKUP
fi

<% if @maintenance %>
# Make a copy of the maitenance config file to override /etc/nginx/nginx.eos.conf
cp /etc/nginx/nginx.eos.maintenance.conf /etc/nginx/nginx.eos.conf

<% else %>
# Configuration file for the nginx service

ulimit -n 10000

NGINX_CONF_FILE=/etc/nginx/nginx.eos.conf


# Home directory setting: upstream mgm backend and home directory 

# Production setting
export EOS_HOME_MGM_BACKEND='<%= @eos_home_mgm_backend%>'
export EOS_HOME_MGM_PATH='<%= @eos_home_mgm_path%>'
export OC_BACKEND='<%= @oc_backend%>'

if [ -z "$EOS_HOME_MGM_BACKEND" ]; then
echo 'you should (carefully) define EOS_HOME_MGM_BACKEND'
exit -1
fi

if [ -z "$EOS_HOME_MGM_PATH" ]; then
echo 'you should (carefully) define EOS_HOME_MGM_PATH'
exit -1
fi

if [ -z "$OC_BACKEND" ]; then
echo 'you should (carefully) define OC_BACKEND'
exit -1
fi




# User to run nginx under
export EOS_NGINX_USER=daemon

# Hostname to use for nginx vhosts
#export EOS_NGINX_HOSTNAME=`hostname -f`
export EOS_NGINX_HOSTNAME='<%= @eos_nginx_hostname%>'

# nginx SSL configuration
export EOS_NGINX_SSL_CERTIFICATE=/etc/grid-security/hostcert.pem
export EOS_NGINX_SSL_KEY=/etc/grid-security/hostkey.pem
export EOS_NGINX_SSL_DHPARAM_PEM=/etc/grid-security/dhparams.pem

# nginx-bundle should contain CERN CA plus all default CAs (Verisign, etc)
export EOS_NGINX_SSL_CLIENT_CERTIFICATE=/etc/grid-security/certificates/nginx-bundle.pem

# Port to enable client certificate authentication on
export EOS_NGINX_CLIENT_SSL_PORT=4443
# Enable openssl to use proxy certificates
export OPENSSL_ALLOW_PROXY_CERTS=1

# Port to enable kerberos authentication on
export EOS_NGINX_GSS_PORT=8443
# nginx kerberos configuration
export EOS_NGINX_GSS_KEYTAB=/etc/krb5.keytab
export EOS_NGINX_GSS_REALM=CERN.CH
export EOS_NGINX_GSS_SERVICE_NAME=host/$EOS_NGINX_HOSTNAME

# nginx LDAP basic auth virtual host configuration
export EOS_NGINX_LDAP_SSL_PORT=443

# Set this to 0 to allow nginx to resolve redirects from the mgm internally,
# i.e. not sending the 3xx response back to the client. This allows PUT and GET
# to work with WebDAV clients who do not know how to handle the redirect.
export EOS_NGINX_REDIRECT_EXTERNALLY=0

# Make a copy of the template config file
cp /etc/nginx/nginx.eos.conf.template /etc/nginx/nginx.eos.conf

# Replace all the things
perl -pi -e 's/EOS_NGINX_USER/$ENV{EOS_NGINX_USER}/g'                                     /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_HOSTNAME/$ENV{EOS_NGINX_HOSTNAME}/g'                             /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_CLIENT_SSL_PORT/$ENV{EOS_NGINX_CLIENT_SSL_PORT}/g'               /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_SSL_CERTIFICATE/$ENV{EOS_NGINX_SSL_CERTIFICATE}/g'               /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_SSL_DHPARAM_PEM/$ENV{EOS_NGINX_SSL_DHPARAM_PEM}/g'                       /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_SSL_KEY/$ENV{EOS_NGINX_SSL_KEY}/g'                               /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_SSL_CLIENT_CERTIFICATE/$ENV{EOS_NGINX_SSL_CLIENT_CERTIFICATE}/g' /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_GSS_PORT/$ENV{EOS_NGINX_GSS_PORT}/g'                             /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_GSS_KEYTAB/$ENV{EOS_NGINX_GSS_KEYTAB}/g'                         /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_GSS_REALM/$ENV{EOS_NGINX_GSS_REALM}/g'                           /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_GSS_SERVICE_NAME/$ENV{EOS_NGINX_GSS_SERVICE_NAME}/g'             /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_REDIRECT_EXTERNALLY/$ENV{EOS_NGINX_REDIRECT_EXTERNALLY}/g'       /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_LDAP_SSL_PORT/$ENV{EOS_NGINX_LDAP_SSL_PORT}/g'                   /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_LDAP_URL/$ENV{EOS_NGINX_LDAP_URL}/g'                             /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_LDAP_BINDDN_USER/$ENV{EOS_NGINX_LDAP_BINDDN_USER}/g'             /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_NGINX_LDAP_BINDDN_PASSWORD/$ENV{EOS_NGINX_LDAP_BINDDN_PASSWORD}/g'     /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_MGM_URL/$ENV{EOS_MGM_URL}/g'                                           /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_HOME_MGM_BACKEND/$ENV{EOS_HOME_MGM_BACKEND}/g'                         /etc/nginx/nginx.eos.conf
perl -pi -e 's/EOS_HOME_MGM_PATH/$ENV{EOS_HOME_MGM_PATH}/g'                               /etc/nginx/nginx.eos.conf
perl -pi -e 's/OC_BACKEND/$ENV{OC_BACKEND}/g'                                             /etc/nginx/nginx.eos.conf


echo "written config file" /etc/nginx/nginx.eos.conf
<% end %>
